<div class="grid-block padding" ng-controller="BasketFormCtrl">

    <div class="grid-content medium-12 text-center">

        <div class="grid-content">
            <h2>Шаг 2 из 2</h2>
        </div>

        <div class="grid-block medium-4 text-center" style="margin: 50px auto;">
            

            <div class="grid-block">
                <label style="margin:6px;">
                    <!-- <span style="font-size:24px;">номер телефона</span> -->
                    <span class="inline-label">
                        <span class="form-label" style="font-size: 28px; font-weight:bold;">+7</span>
                        <input class="tel" disabled="true" field="phone" zf-open="keyboard_block" type="tel" placeholder="номер телефона" ng-model="form.phone">
                    </span>
                </label>
            </div>

            <br>
            <br>
            <br>

            <div class="grid-block small-up-3 keypad dead-center">
                <div class="key">1</div>
                <div class="key">2</div>
                <div class="key">3</div>
                <div class="key">4</div>
                <div class="key">5</div>
                <div class="key">6</div>
                <div class="key">7</div>
                <div class="key">8</div>
                <div class="key">9</div>
                <div class="clear">C</div>
                <div class="key">0</div>
                <div class="backspace">&#8592;</div>
            </div>


        </div>

        {{basketResult}}

        <div class="grid-block medium-4" style="margin: auto;">
            <div class="grid-content text-center">
                <a class="beeline-button" ng-click="_placeAnOrder()" title="Заказ оформлен!" content="Обратитесь к любому консультанту" color="success" autoclose="3000" zf-notify="basketResult">Заказать</a>
            </div>
        </div>

    </div>

    <!-- <div class="grid-content medium-12" style="border: 3px dashed #999; border-radius: 10px; padding: 10px;">
        <div class="grid-block">
            <div class="grid-content medium-4">
                <label>
                    Фамилия
                    <input field="surname" zf-open="keyboard_block" type="text" placeholder="Фамилия" ng-model="form.surname">
                </label>
            </div>
            <div class="grid-content medium-4">
                <label>
                    Имя
                    <input field="name" zf-open="keyboard_block" type="text" placeholder="Имя" ng-model="form.name">
                </label>
            </div>
            <div class="grid-content medium-4">
                <label>
                    Отчество
                    <input field="patronymic" zf-open="keyboard_block" type="text" placeholder="Отчество" ng-model="form.patronymic">
                </label>
            </div>
        </div>

        <div class="grid-block">
            <div class="grid-content medium-6">
                <label>
                    Номер телефона
                    <span class="inline-label">
                        <span class="form-label">+7</span>
                        <input field="phone" zf-open="keyboard_block" type="tel" placeholder="Номер телефона" ng-model="form.phone">
                    </span>
                </label>
            </div>
            <div class="grid-content medium-6">
                <label>
                    Email
                    <input field="email" zf-open="keyboard_block" type="email" placeholder="Email" ng-model="form.email">
                </label>
            </div>
        </div>

        <div class="grid-block">
            <div class="grid-content medium-5">
                <label>Комментарии к заказу</label>
                <textarea field="comments" zf-open="keyboard_block" rows="6" cols="5" ng-model="form.comments"></textarea>
            </div>
        </div>

        <div class="grid-block">
            <div class="grid-content">
                <input id="checkbox1" type="checkbox" checked ng-model="form.news" ng-click="checkNews($event)">
                <label for="checkbox1">Получать новости и акции на почту</label>
            </div>
        </div>

        <div class="grid-block">
            <div class="grid-content" style="margin-top: 50px;">
                <a class="warning button" ng-click="placeAnOrder()" title="Заказ оформлен!" content="Заказ отправлен в никуда... Спасибо :)" color="success" autoclose="2000" zf-notify="basketResult" >Оформить заказ</a>
                <a class="alert hollow button" ng-click="cancel()">Отмена</a>
            </div>
        </div>
    </div> -->

    <!-- <zf-offcanvas style="height: 600px;" id="keyboard_block" position="bottom">
        <a zf-close="" class="close-button">×</a>
        <keyboard></keyboard>
    </zf-offcanvas> -->
</div>
