<div class="grid-container" style="padding:32px;" ng-controller="BasketProductListCtrl">

    <div ng-if="basket.length == 0" class="found-nothing">
        <h3>Корзина пуста</h3>
        <a ui-sref="main">Перейти на главную</a>
        <p></p>
    </div>

    <div ng-if="basket.length != 0" class="grid-content medium-12">
        <div class="grid-block">
            <div class="grid-content medium-12 text-center">
                <h2>Шаг 1 из 2</h2>
            </div>

            <br><br>

            <div class="grid-content medium-2"></div>
            <div class="grid-content medium-4">
                <p>Название</p>
            </div>
            <div class="grid-content medium-3 text-center">
                <p>Кол-во</p>
            </div>
            <div class="grid-content medium-2 text-center">
                <p>Цена</p>
            </div>
            <div class="grid-content medium-1"></div>
        </div>

        <div class="grid-block" ng-repeat="product in basket" style="margin-bottom:32px;">
            
            <div class="grid-content medium-2 text-center swiper-image">
                <img style="max-height:120px;" ng-src="{{product.images[0]}}" ng-click="openProduct(product)"/>
            </div>

            <div class="grid-content medium-4" ng-click="openProduct(product)">
                <h4>{{product.name}}</h4>
            </div>

            <div class="grid-content medium-3 text-center" style="font-size: 40px">
                <div class="step-button dead-center" ng-click="quantity(false, product)">-</div> {{product.quantity}} <div class="step-button dead-center" ng-click="quantity(true, product)">+</div>
            </div>

            <div class="grid-content medium-2 text-center">
                <span style="font-size: 28px">{{product.price | price}}</span>
            </div>

            <div class="grid-content medium-1 text-center" ng-click="deleteItem(product, $index)">
                <a><img src="assets/img/close.svg" style="width:40px;"></a>
            </div>
            
        </div>

        <br><br>

        <h2 class="inline">
            Итого: {{basketPrice | price}}
        </h2><span> руб.</span>

        <br><br>

        <div class="grid-block">
            <div class="grid-content align-right text-right">
                <a class="beeline-button" style="width:200px;margin:auto;" ui-sref="basket.form">Далее</a>
            </div>
        </div>

    </div>


</div>
