<div class="grid-block padding">
    <div class="grid-content medium-12" style="border: 3px dashed #999; border-radius: 10px; padding: 10px;">
        <div class="grid-block">
            <div class="grid-content medium-2"></div>
            <div class="grid-content medium-5">
                <h3>Название</h3>
            </div>
            <div class="grid-content medium-2">
                <h3>Кол-во</h3>
            </div>
            <div class="grid-content medium-2">
                <h3>Цена</h3>
            </div>
            <div class="grid-content medium-1"></div>
        </div>
        <div class="grid-block" ng-repeat="product in basket">
            <div class="grid-content medium-2 align-center">
                <img ng-src="{{product.images[0]}}" />
            </div>
            <div class="grid-content medium-5" style="font-size: 25px">
                {{product.name}}
            </div>
            <div class="grid-content medium-2" style="font-size: 40px">
                <span style="font-size: 45px;" ng-click="product.quantity - 1">-</span> {{product.quantity}} <span style="font-size: 45px;" ng-click="product.quantity + 1">+</span>
            </div>
            <div class="grid-content medium-2" style="font-size: 30px">
                {{product.price | price}}
            </div>
            <div class="grid-content medium-1" ng-click="basket.splice($index, 1)">
                <a>X</a>
            </div>
        </div>
    </div>
</div>
