<div id="container">
    <div id="keyboard">
        <button class="symbol"><span class="off">`</span><span class="on">~</span></button>
        <button class="symbol"><span class="off">1</span><span class="on">!</span></button>
        <button class="symbol"><span class="off">2</span><span class="on">@</span></button>
        <button class="symbol"><span class="off">3</span><span class="on">#</span></button>
        <button class="symbol"><span class="off">4</span><span class="on">$</span></button>
        <button class="symbol"><span class="off">5</span><span class="on">%</span></button>
        <button class="symbol"><span class="off">6</span><span class="on">^</span></button>
        <button class="symbol"><span class="off">7</span><span class="on">&amp;</span></button>
        <button class="symbol"><span class="off">8</span><span class="on">*</span></button>
        <button class="symbol"><span class="off">9</span><span class="on">(</span></button>
        <button class="symbol"><span class="off">0</span><span class="on">)</span></button>
        <button class="symbol"><span class="off">-</span><span class="on">_</span></button>
        <button class="symbol"><span class="off">=</span><span class="on">+</span></button>
        <button class="delete lastitem">delete</button>
        <button class="tab">tab</button>
        <button class="letter">q</button>
        <button class="letter">w</button>
        <button class="letter">e</button>
        <button class="letter">r</button>
        <button class="letter">t</button>
        <button class="letter">y</button>
        <button class="letter">u</button>
        <button class="letter">i</button>
        <button class="letter">o</button>
        <button class="letter">p</button>
        <button class="symbol"><span class="off">[</span><span class="on">{</span></button>
        <button class="symbol"><span class="off">]</span><span class="on">}</span></button>
        <button class="symbol lastitem"><span class="off">\</span><span class="on">|</span></button>
        <button class="capslock">caps lock</button>
        <button class="letter">a</button>
        <button class="letter">s</button>
        <button class="letter">d</button>
        <button class="letter">f</button>
        <button class="letter">g</button>
        <button class="letter">h</button>
        <button class="letter">j</button>
        <button class="letter">k</button>
        <button class="letter">l</button>
        <button class="symbol"><span class="off">;</span><span class="on">:</span></button>
        <button class="symbol"><span class="off">'</span><span class="on">&quot;</span></button>
        <button class="return lastitem" zf-close="">return</button>
        <button class="left-shift shift">shift</button>
        <button class="letter">z</button>
        <button class="letter">x</button>
        <button class="letter">c</button>
        <button class="letter">v</button>
        <button class="letter">b</button>
        <button class="letter">n</button>
        <button class="letter">m</button>
        <button class="symbol"><span class="off">,</span><span class="on">&lt;</span></button>
        <button class="symbol"><span class="off">.</span><span class="on">&gt;</span></button>
        <button class="symbol"><span class="off">/</span><span class="on">?</span></button>
        <button class="right-shift shift lastitem">shift</button>
        <button class="space lastitem">&nbsp;</button>
    </div>
</div>
