<div>
    <h2>Лидеры</h2>
    <div class="swiper-container" style="height:320px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="" ng-repeat="slide in leaders">
                
                    <div class="grid-block align-center" ng-click="openLeader(slide)">
                        <div class="grid-content" style="">
                            <div class="card-section" style="height:100px;text-align:center;">
                                <img ng-src="{{slide.images[0]}}" style="height:100%; width:initial;">
                            </div>
                            <div class="card-section">
                                <h6>{{slide.name}}</h6>
                                <h4>{{slide.price}}</h4>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>
</div>
