<div ng-hide="!leaders || leaders.length == 0">
    <h2>Лидеры продаж</h2>
    <div style="position:relative;padding:0 40px;">
        <div class="swiper-container" style="height:360px;">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="" ng-repeat="slide in leaders">


                        <div class="grid-block align-center">
                            <div class="grid-content">
                                <div class="card-section" style="height:160px;text-align:center;">
                                    <img ng-src="{{slide.images[0]}}" style="height:100%; width:initial;" ng-click="openLeader(slide)">
                                </div>
                                <div class="card-section">
                                    <h3 style="display:inline;">{{slide.price | price}}</h3><span> руб.</span>
                                    <h6>{{slide.name}}</h6>
                                </div>

                            </div>
                        </div>

                </div>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>
</div>
