<div class="categories" ng-controller="MainCategoryCtrl">


    <div class="grid-block small-up-2 align-center">
        <div class="grid-block align-center padding" ng-repeat="category in categories track by category.order" ng-click="openCategory(category)" ng-if="$index <= 1" >
            <div class="padding text-center">
                <div class="image-section padding">
                    <img ng-src="{{category.img}}">
                </div>
                <div class="padding">
                    <h3>{{category.name}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-block small-up-3 align-center">
        <div class="grid-block align-center padding" ng-repeat="category in categories track by category.order" ng-click="openCategory(category)" ng-if="$index > 1">
            <div class="padding text-center">
                <div class="image-section padding">
                    <img ng-src="{{category.img}}">
                </div>
                <div class="padding">
                    <h3>{{category.name}}</h3>
                </div>
            </div>
        </div>
    </div>


    <br>

    <leaders></leaders>
</div>
