<!-- *** FILTERS MODAL *** -->
<div zf-modal="" id="filterModal" ng-controller="FilterCtrl">
    <a zf-close="" class="close-button">×</a>
    <div class="grid-block">
        <div class="grid-content medium-4">
            <section class="block-list">
                <ul>
                    <li class="with-chevron" ng-repeat="filter in productsListFilter" ng-click="checkFilter($index)">
                        <a>{{filter.name}}</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="grid-content medium-8">
            <label>Choose Your Value</label>
            <div ng-repeat="val in productsListFilter[filterInd].choices" style="padding: 10px; border-bottom: 2px dashed #999;">
                <input type="checkbox" ng-value="{{val.id}}" id="{{val.id}}" ng-checked="val.check" ng-click="check($event, val)">
                <label for="{{val.id}}">{{val.value}}</label>
            </div>
        </div>
    </div>
    <div class="grid-block">
        <a zf-close="" class="success button" ng-click="setFilter()">Применить фильтр</a>
        <a class="warning hollow button" ng-click="clearFilter()">Очистить фильтр</a>
        <a zf-close="" class="alert hollow button" ng-click="cancelFilter()">Отмена</a>
    </div>
</div>

<div class="grid-container" ng-controller="ProductListCtrl">
    <br>
    <div class="small-12 medium-4 grid-content">
        <label>Сортировать по:</label>
        <select ng-options="item as item.label for item in items" ng-model="selected" ng-change="sortBy()"></select>
        <!-- <label>Сортировать по:</label>
        <select>
            <option ng-click="sortBy()" value="-weight">Популярности</option>
            <option ng-click="sortBy()" value="price">Цене: по возрастанию</option>
            <option ng-click="sortBy()" value="-price">Цене: по убыванию</option>
        </select> -->
    </div>

    <!-- *** FILTERS BUTTON *** -->
    <div style="position: absolute; left: 0; top: 50%; font-size: 2em; z-index: 1;">
        <a zf-open="filterModal" style="
        transform: rotate(270deg);
        border: 3px dashed #fbc300;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(255,255,255,0.7);
        width: 140px;
        position: fixed;
        top: 50%;
        left: -45px;
        padding: 5px;
        text-align: center;">
            <h2>Фильтр</h2>
        </a>
    </div>

    <!-- *** IF PRODUCTS LIST IS EMPTY *** -->
    <div ng-if="productsList.length == 0" style="padding: 10px; width: 100%; border: 2px dashed #999; border-radius: 10px; margin-top: 50px; text-align: center;">
        <h3>Список товаров пуст</h3>
        <p>
            попробуйте еще раз
        </p>
    </div>

    <!-- *** PRODUCT GRID *** -->
    <div class="grid-block small-up-3">
        <div class="grid-content" ng-repeat="products in productsList">
            <div class="card-section" style="height:240px;display:flex;align-items:center;justify-content:center;">
                <img src="assets/img/ring.svg" style="max-height:100%; width:initial; margin:auto;" onerror="this.src = 'http://1.bp.blogspot.com/-AbUg0eTuZ48/VGkgHfMen_I/AAAAAAAAKG0/n4pOJGy_jRE/s1600/homer-Doh.jpg'" ng-src="{{products.images[0]}}">
            </div>
            <div class="card-section" style="padding-top:0;">
                <h4>{{products.name}}</h4>
                <div ng-if="products.price">
                    <h2 style="display:inline;">{{products.price | price}}</h2><span> руб.</span>
                </div>
                <div style="padding:32px 0;">
                    <a ng-click="openProduct(products)" class="beeline-button" style="display:inline;padding:12px 36px;">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <!-- *** LOADING BAR *** -->
    <div style="text-align:center;padding:40px;" ng-if="!productsList || progress == true">
        <img src="assets/img/ripple.svg">
    </div>
</div>
