// Beeline Colors

$white: #ffffff !default;

$black: #282828 !default;
$black-dark: #212121 !default;
$black-light: #3E3E3E !default;

$gray-light: #FAFAFA !default;
$gray-medium: #C8C8C8 !default;
$gray-hard: #787878 !default;
$gray-archive: #e0ddd6 !default;

$yellow: #FFB612 !default;
$yellow-gradient-start: #F7A700 !default;
$yellow-gradient-end: #FFE100 !default;
$yellow-light: #FEF7CB !default;

$orange: #ED7703 !default;

$red: #B31736 !default;
$green: #007300 !default;

$brown-light: #ECE9E2 !default;
$brown-hard: #CEB57F !default;