@import "settings";
@import "foundation";
@import "fonts"; // Beeline Officina
@import "colors"; // Beeline Colors
@import "keyboard"; // Custom keyboard

@import "checkbox";


* {
	user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

button {
    outline: 0;
}

// Beeline Colors

$white: #ffffff;

$black: #282828;
$black-dark: #212121;
$black-light: #3E3E3E;

$gray-light: #FAFAFA;
$gray-medium: #C8C8C8;
$gray-hard: #787878;
$gray-archive: #e0ddd6;

$yellow: #FFB612;
$yellow-gradient-start: #F7A700;
$yellow-gradient-end: #FFE100;
$yellow-gradient: linear-gradient(-45deg, #ffe100 0%, #f7a700 100%);
$yellow-light: #FEF7CB;

$orange: #ED7703;

$red: #B31736;
$green: #007300;

$brown-light: #ECE9E2;
$brown-hard: #CEB57F;



.shadow-block {
    background: red;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: -200px;
    z-index: 133;
    box-shadow: 0 0 256px 128px rgba(255,255,255,0.9);
}

h1,h2,h3,h4 {
	font-family: 'officinaserifcbold';
	font-weight: bold;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    padding: 16px;
    box-sizing: border-box;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-top .swiper-slide {
    padding: 16px 48px;
    box-sizing: border-box;
}
.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
    // box-shadow: 1px 1px 200px rgba(0,0,0,0.16) inset;
    // border-radius: 5px;
}

.gallery-top .swiper-button-disabled {
  opacity: 0.05 !important; }

.yellow-gradient {
    background: linear-gradient(180deg, #ffe100 0%, #f7a700 100%);
}

// Beeline button styles
.beeline-button {
    color: #000;
    font-family: 'officinaserifcbold';
    font-size: 21px;
    background: linear-gradient(180deg, #ffe100 0%, #f7a700 100%);
    border: 2px solid #f1a011;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px; 
    margin: 0 1rem 1rem 0;
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    text-shadow: 0 1px 1px #fff4bc;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.beeline-button.small {
    font-size: 18px;
    height: 50px;
}

a:hover, a:focus {
    color:#000;
}

.beeline-button:active {
    background: linear-gradient(180deg, #ffe100 0%, #f7a700 100%);
    border: 0;
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.16) inset;
}


.filters-button {
    position: relative;
    width: 100%;
    border: 5px solid $yellow;
    background: #fff;
    font-size: 1rem; 
    font-weight: bold;
    line-height: 1.4rem; 
    text-align: left;
    margin-bottom: 0;
}

.filters-button.warning {
    background: $yellow;
}

.filters-block {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 150;
    width: 100%;
    background: #fff;
    padding: 2rem 3rem 1rem;
    box-shadow: 0 20px 44px 1px rgba(255,255,255,0.9);
}

.filters.button svg {

}

// Utiliti classes
.dead-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.inline {
    display: inline;
}

.old-price {
    text-decoration: line-through;
    color:#666;
}

// Dark Overlay styles
.dark-overlay {
    position: fixed;
    z-index: 9999;
    top:30%;
    bottom:0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    text-align: center;

    h1 {
        color: #eee;
        padding-bottom: 32px;
        font-size: 4rem;
    }

    button {
        animation: 2s infinite alternate button-animation;
    }
}

@keyframes button-animation {
    0% {transform: scale(1);}
    84% {transform: scale(1.33);}
    96% {transform: scale(1.33) translateY(5px);}
    99% {transform: scale(1.33) translateY(0px);}
    100% {transform: scale(1.33) translateY(0px);}

}

.hide-overlay {
    display: none;
}

.show-overlay {
    display: block;
}

.modal {
    min-width: 600px;
    border: 4px #FFB612 solid;
    border-radius: 4px;
}

.no-padding-left .modal {
    padding-left: 0;
}

.no-padding-left .modal ul li a.left-tab {
    padding-left: 32px!important;
}



.arrow-up {
    position: fixed;
    right: 2rem;
    bottom: 10rem;
    display: inline-block;
    padding: 2rem;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 300;
    transition: opacity 0.5s linear;
    opacity: 1;

    img {
        width: 3rem;
    }
}

.arrow-up.ng-hide {
    transition: opacity 0.5s linear;
    opacity: 0;
}



.categories {
    .img-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .small-up-2 {
        .image-section {
            height: 200px;       
        }
    }
    .small-up-3 {
        .image-section {
            height: 180px;           
        }
    }
    .small-up-3.products {
        .image-section {
            height: 240px;           
        }
    }
    .small-up-4 {
        .image-section {
            height: 160px;           
        }
    }
    .grid-block {
        img {
           max-height: 100%;
           width: initial;
           margin: auto; 
        }
    }


}

.modal {
    height: 600px;
}



// temp

// .notification-container.top-right {
//     top: 31%;
// }

.block-list.officina {
    font-family: 'officinaserifcregular';
    
}

.block-list.officina li {
    font-size: 18px;
}

.block-list .active-item {
    background: $yellow-gradient;
    font-family: 'officinaserifcbold';
    font-weight: bold;
}

.block-list .active-item:hover {
    background: $yellow-gradient !important;
}

.block-list .active-item:active {
    background: $yellow-gradient !important;
}

.block-list .active-item:focused {
    background: $yellow-gradient !important;
}

.no-scroll {
    overflow: hidden;
}

input:focus {
    outline: 0;
}

.found-nothing {
    padding: 10px;
    padding-top: 20px;
    width: 360px;
    border: 2px dashed #999;
    border-radius: 10px;
    margin: 128px auto;
    text-align: center;
}

// select drop-down styles

/* Default custom select styles */
            div .cs-select {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                text-align: left;
                background: #fff;
                z-index: 100;
                width: 100%;
                max-width: 500px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            div .cs-select:focus {
                outline: none; /* For better accessibility add a style for this in your skin */
            }

            .cs-select select {
                display: none;
            }

            .cs-select span {
                display: block;
                position: relative;
                cursor: pointer;
                padding: 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            /* Placeholder and selected option */
            .cs-select > span {
                padding-right: 3em;
            }

            .cs-select > span::after,
            .cs-select .cs-selected span::after {
                speak: none;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .cs-select > span::after {
                content: '\24BE';
                right: 1em;
            }

            .cs-select .cs-selected span::after {
                content: '\2713';
                margin-left: 1em;
            }

            .cs-select.cs-active > span::after {
                -webkit-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
            }

            div .cs-active {
                z-index: 200;
            }

            /* Options */
            .cs-select .cs-options {
                position: absolute;
                overflow: hidden;
                width: 100%;
                background: #fff;
                visibility: hidden;
            }

            .cs-select.cs-active .cs-options {
                visibility: visible;
            }

            .cs-select ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .cs-select ul span {
                padding: 1em;
            }

            .cs-select ul li.cs-focus span {
                background-color: #ddd;
            }

            /* Optgroup and optgroup label */
            .cs-select li.cs-optgroup ul {
                padding-left: 1em;
            }

            .cs-select li.cs-optgroup > span {
                cursor: default;
            }

div .cs-skin-border {
        background: transparent;
        font-size: 1em;
        font-weight: 700;
        max-width: 600px;
    }

            @media screen and (max-width: 30em) {
                div .cs-skin-border { font-size: 1em; }
            }

            .cs-skin-border > span {
                border: 5px solid #000;
                border-color: inherit;
                -webkit-transition: background 0.2s, border-color 0.2s;
                transition: background 0.2s, border-color 0.2s;
            }

            .cs-skin-border > span::after,
            .cs-skin-border .cs-selected span::after {
                font-family: 'icomoon';
                content: '\2193';
            }

            .cs-skin-border ul span::after {
                content: '';
                opacity: 0;
            }

            .cs-skin-border .cs-selected span::after {
                content: '-';
                color: #ddd9c9;
                font-size: 1.5em;
                opacity: 1;
                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;
            }

            .cs-skin-border.cs-active > span {
                background: $yellow;
                border-color: $yellow;
                color: #212121;
            }

            .cs-skin-border .cs-options {
                color: #212121;
                font-size: 0.75em;
                opacity: 0;
                border: 1px solid $yellow;
                -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
                transition: opacity 0.2s, visibility 0s 0.2s;
            }

            .cs-skin-border.cs-active .cs-options {
                opacity: 1;
                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;
            }

            .cs-skin-border ul span {
                padding: 1em 2em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .cs-skin-border .cs-options li span:hover,
            .cs-skin-border li.cs-focus span {
                background: #f5f3ec;
            }

