---
name: products
url: /products
animationIn: fadeIn
---

<div class="grid-container" ng-controller="ProductsListCtrl">
    <div class="grid-content" ng-if="products.length == 0" style="margin-top:4%;">
        <div class="card padding">
            <div class="text-center padding" style="border: 2px dashed #999; border-radius: 10px; padding: 6%;">
                <h3>
                    Список товаров недоступен
                </h3>
                <br>
                <a onclick="history.back()">вернуться назад</a>
            </div>
        </div>
    </div>

    <div class="align-center" masonry='{ "transitionDuration" : "1.5s" , "itemSelector" : ".tile"}'>
        <div class="grid-content align-center tile" style="width: 33.333%" ng-repeat="product in products" ui-sref="detail({article:product.article})" ng-click="detailOpen(product)">
            <div class="card padding">
                <div style="text-align: center;">
                    <img class="products-images" ng-src="{{product.images[0]}}" imageonload>
                </div>
                <div class="card-divider">
                    <h3>{{product.name}}</h3>
                </div>
                <div class="card-section">
                    <h4 class="h-price-font">{{product.price}} &#8381;</h4>
                </div>
            </div>
        </div>
    </div>
</div>
