<!doctype html>
<html lang="en" ng-app="application">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>prototype</title>
        <link href="./assets/css/app.css" rel="stylesheet" type="text/css">

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="./assets/lib/swiper/dist/css/swiper.min.css" charset="utf-8">

        <!-- Swiper.js -->
        <script src="./assets/lib/swiper/dist/js/swiper.min.js" charset="utf-8"></script>

        <script src="./assets/js/foundation.js"></script>
        <script src="./assets/js/templates.js"></script>
        <script src="./assets/js/routes.js"></script>
        <script src="./assets/js/app.js"></script>

        <style media="screen">
            .grid-container {
                min-width: 95% !important;
            }
            .swiper-img {
                max-width: 100% !important;
                max-height: 100% !important;
                width: initial !important;
            }
            .off-canvas ~ .grid-frame {
                background: inherit;
            }
        </style>
    </head>
    <body>
        <div zf-modal="" id="basicModal">
            <a zf-close="" class="close-button">×</a>
            <h3>Фильтруй!</h3>
            <div class="grid-block" ng-controller="ModalCtrl">
                <section class="block-list grid-content medium-5">
                    <ul>
                        <li class="with-chevron"><a ng-click="openFilter(1)" href="">Цена</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(2)" href="">Цвет</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(3)" href="">Экран</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(1)" href="">Память</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(2)" href="">Процессор</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(3)" href="">Тип SIM карты</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(2)" href="">Операционная система</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(1)" href="">Диагональ экрана</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(3)" href="">Основная камера</a></li>
                        <li class="with-chevron"><a ng-click="openFilter(3)" href="">LTE</a></li>
                    </ul>
                </section>

                <div class="grid-content medium-7" ng-hide="showVariants">
                    <div style="border: 2px dashed #999; width: 100%; padding: 50px; text-align: center; border-radius: 5px;">
                        <b>Не выбрано ни одного фильтра</b>
                    </div>
                </div>

                <div class="grid-content medium-7" ng-show="showVariants">

                    <div ng-if="variant == 1">
                        <input type="range" ng-model="range" name="points" min="0" max="10">
                        {{range || 0}}
                    </div>
                    <div ng-if="variant == 2">
                        <label>Check these out</label>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                        <br/><br/>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                    <div ng-if="variant == 3">
                        <input type="radio" name="pokemon" value="Red" id="pokemonRed">
                        <label for="pokemonRed">Red</label>
                        <br/><br/>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                        <label for="pokemonBlue">Blue</label>
                        <br/><br/>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                        <label for="pokemonBlue">Green</label>
                        <br/><br/>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                        <label for="pokemonBlue">Yellow</label>
                    </div>

                </div>
            </div>
        </div>

        <div class="grid-frame vertical">
            <div class="shrink" style="margin:20px;" ng-controller="CategoryCtrl">
                <ul class="menu-bar">
                    <li style="border:2px solid #555;border-radius:8px;">
                        <a href="/#!/">Девайсы</a>
                    </li>
                    <li>
                        <a href="">Тарифы</a>
                    </li>
                    <li>
                        <a href="">Мобильный интернет</a>
                    </li>
                    <li>
                        <a href="">Финансовые сервисы</a>
                    </li>
                    <li>
                        <a href="">Юридическим лицам</a>
                    </li>
                    <li>
                        <a href="">Домашний интернет и ТВ</a>
                    </li>
                </ul>
            </div>
            <div ui-view class="grid-block"></div>
            <div>
                <div class="menu-group dark">
                    <div class="menu-group-left">
                        <ul class="menu-bar primary">
                            <li>
                                <a onclick="history.back();">Назад</a>
                            </li>
                            <li>
                                <a href="/#!/">Домой</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-group-right">
                        <ul class="icon-left primary menu-bar">
                            <li>
                                <a href="#"><img zf-iconic="" icon="Cart" size="small" class="iconic-color-primary">Корзина</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
