---
name: main
url: /
---


<div class="grid-container" ng-controller="MainCtrl">
    <div class="grid-content">
        <section class="block-list">
            <header>List of stores</header>
            <ul>
                <li class="padding">
                    <div class="grid-block">
                        <div class="small-2">
                            <h3>I001</h3>
                            <span>app version: 0.0.1</span>
                        </div>
                        <div class="small-10 text-right success">
                            <h5>active</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
