---
name: basket.confirm
url: /confirm
animationIn: fadeIn
---

<zf-notification-set id="confirm-notify" position="top-right"></zf-notification-set>
<div class="grid-container" ng-controller="BasketConfirmCtrl">
    <div class="grid-content" style="margin-bottom: 280px;">
        <div class="card padding">
            <div class="card-divider">
                <h3>Подтверждение заказа</h3>
            </div>
            <div class="card-section padding">
                <div class="grid-content">
                    <section class="block-list padding">
                        <h4>Cписок покупок</h4>
                        <ul>
                            <li class="padding" ng-repeat="item in basket">
                                <div class="grid-block">
                                    <span class="small-2 text-center">
                                        <img class="products-images" ng-src="{{item.image}}"/>
                                    </span>
                                    <span class="small-5">
                                        <p class="bee-font-bold">
                                            {{item.name}}
                                        </p>
                                    </span>
                                    <span class="small-2 text-center">
                                        <p class="bee-font-bold">
                                            {{item.count}} шт.
                                        </p>
                                    </span>
                                    <span class="small-2 text-center">
                                        <p class="bee-font-bold">
                                            {{item.price}} руб.
                                        </p>
                                    </span>
                                    <span class="small-2 text-center">
                                        <a class="close-button" ng-click="deleteItem($index)">×</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="grid-block padding">
                    <div class="grid-block align-center padding">
                        <div class="grid-content">
                            <h4>Контактная информация</h4>
                            <p class="bee-font-norm" style="font-size: 1.5em;">
                                <span>ФИО: {{form.name}}</span><br/>
                                <span>Номер телефона: + 7 {{form.tel}}</span><br/>
                                <span>Email: {{form.email}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="grid-block align-center padding">
                        <div class="grid-content">
                            <h4>Оплата</h4>
                            <p class="bee-font-norm" style="font-size: 1.5em;">
                                <span>{{form.paymentType}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="grid-block align-center padding">
                        <div class="grid-content">
                            <h4>Доставка</h4>
                            <p class="bee-font-norm" style="font-size: 1.5em;">
                                <span ng-if="form.city">Город: {{form.city}}<br/></span>
                                <span ng-if="form.street">Улица: {{form.street}}<br/></span>
                                <span ng-if="form.house">Дом: {{form.house}}<br/></span>
                                <span ng-if="form.housing">Корпус: {{form.housing}}<br/></span>
                                <span ng-if="form.flat">Квартира: {{form.flat}}<br/></span>
                                <span ng-if="form.date">
                                    Дата и время: {{form.date | date : 'dd.MM.yyyy'}}<br/>
                                    {{form.time.time}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="warning button float-left" onclick="history.back()"><img zf-iconic="" icon="Chevron" size="small" style="transform: rotate(180deg)"> Назад</a>
            <a class="warning button float-right" ng-click="onward()">Далее <img zf-iconic="" icon="Chevron" size="small"></a>
        </div>
    </div>
</div>
