---
name: categories
url: /categories.:category
animationIn: fadeIn
---

<div class="grid-container" ng-controller="CategoriesCtrl">
    <h1>{{categoryName}}</h1>
    <div class="grid-block small-up-3 align-center">
        <div class="grid-content" ng-repeat="category in categoryData.generalCategories">
            <div class="card padding" ng-click="openCategory(category)">
                <img ng-src="{{category.image}}">
                <div class="card-divider text-center">
                    <h3>{{category.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-block small-up-4 align-center">
        <div class="grid-content" ng-repeat="category in categoryData.otherCategories">
            <div class="card padding" ng-click="openCategory(category)">
                <img ng-src="{{category.image}}">
                <div class="card-divider">
                    {{category.name}}
                </div>
            </div>
        </div>
    </div>
</div>
