<!-- <div id="container">
    <ul id="keyboard">
        <symbol ng-click="buttonClick()">
            <span ng-if="!shift">`</span>
            <span ng-if="shift">~</span>
        </symbol>
        <symbol ng-click="buttonClick()">
            <span ng-if="!shift">1</span>
            <span ng-if="shift">!</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">2</span>
            <span ng-if="shift">@</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">3</span>
            <span ng-if="shift">#</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">4</span>
            <span ng-if="shift">$</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">5</span>
            <span ng-if="shift">%</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">6</span>
            <span ng-if="shift">^</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">7</span>
            <span ng-if="shift">&amp;</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">8</span>
            <span ng-if="shift">*</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">9</span>
            <span ng-if="shift">(</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">0</span>
            <span ng-if="shift">)</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">-</span>
            <span ng-if="shift">_</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">=</span>
            <span ng-if="shift">+</span>
        </symbol>
        <li class="delete lastitem">delete</li>
        <li class="tab">tab</li>
        <li class="letter">q</li>
        <li class="letter">w</li>
        <li class="letter">e</li>
        <li class="letter">r</li>
        <li class="letter">t</li>
        <li class="letter">y</li>
        <li class="letter">u</li>
        <li class="letter">i</li>
        <li class="letter">o</li>
        <li class="letter">p</li>
        <symbol>
            <span ng-if="!shift">[</span>
            <span ng-if="shift">{</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">]</span>
            <span ng-if="shift">}</span>
        </symbol>
        <symbol class="lastitem">
            <span ng-if="!shift">\</span>
            <span ng-if="shift">|</span>
        </symbol>
        <li class="capslock" ng-click="capslock()">caps lock</li>
        <li class="letter">a</li>
        <li class="letter">s</li>
        <li class="letter">d</li>
        <li class="letter">f</li>
        <li class="letter">g</li>
        <li class="letter">h</li>
        <li class="letter">j</li>
        <li class="letter">k</li>
        <li class="letter">l</li>
        <symbol>
            <span ng-if="!shift">;</span>
            <span ng-if="shift">:</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">'</span>
            <span ng-if="shift">&quot;</span>
        </symbol>
        <li class="return lastitem">return</li>
        <li class="left-shift" ng-click="shiftClick()">shift</li>
        <li class="letter">z</li>
        <li class="letter">x</li>
        <li class="letter">c</li>
        <li class="letter">v</li>
        <li class="letter">b</li>
        <li class="letter">n</li>
        <li class="letter">m</li>
        <symbol>
            <span ng-if="!shift">,</span>
            <span ng-if="shift">&lt;</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">.</span>
            <span ng-if="shift">&gt;</span>
        </symbol>
        <symbol>
            <span ng-if="!shift">/</span>
            <span ng-if="shift">?</span>
        </symbol>
        <li class="right-shift lastitem" ng-click="shiftClick()">shift</li>
        <li class="space lastitem">&nbsp;</li>
    </ul>
</div> -->
