---
name: detail
url: /products/:article
animationIn: fadeIn
---

<zf-notification-set id="to-basket-notify" position="top-right"></zf-notification-set>
<div class="grid-container" ng-controller="DetailPageCtrl">
    <h1>{{product.name}}</h1>
    <div class="grid-block">
        <div class="grid-content small-6 text-center">
            <div class="card padding">
                <div class="swiper-container padding">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="img in product.images" style="text-align: center;">
                            <img class="swiper-img" ng-src="{{img}}" draggable="false">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div ng-if="product.images.length != 1" class="swiper-pagination swiper-pagination-black"></div>
                    <!-- Add Arrows -->
                    <div ng-if="product.images.length != 1" class="swiper-button-next swiper-button-black"></div>
                    <div ng-if="product.images.length != 1" class="swiper-button-prev swiper-button-black"></div>
                </div>

                <!-- Initialize Swiper -->
                <swiper></swiper>
            </div>
        </div>
        <div class="grid-content small-6">
            <div class="card padding">
                <div class="card-divider">
                    <h2>{{product.price}} &#8381;</h2>
                    <h5 class="text-left" ng-if="product.old_price">{{product.old_price}}</h5>
                    <p>
                        Наличие на складе: {{product.remain}}
                    </p>
                </div>
                <h3 class="padding" ng-if="recomendations.length != 0">Рекомендуем вам:</h3>
                <div  ng-if="recomendations.length != 0" class="card-section" style="height: 187px; overflow: scroll; border: 3px dashed #999; border-radius: 10px; margin-bottom:20px;">
                    <div ng-repeat="recomend in recomendations" style="margin: 10px 0;">
                        <img ng-src="{{recomend.images[0]}}" style="max-width: 30%; border-radius: 25px;"/>
                        <span class="bee-font-bold" style="font-size: 1.4em;">
                            {{recomend.name}}
                        </span>
                    </div>
                </div>

                <a class="warning expand button" ng-click="toBasket(product)">В корзину</a>
            </div>
        </div>
        <div class="grid-content">
            <div class="card padding">
                <div class="card-section">
                    <div ng-if="product.description">
                        <h4>Описание</h4>
                        {{product.description}}
                    </div>
                    <div ng-if="product.intags_categories">
                        <h4>Характеристики:</h4>

                        <div class="grid-block small-up-2">
                            <div class="grid-content" ng-repeat="left in product.intags_leftColumn track by $index">
                                <h5>{{left.name}}</h5>

                                <div ng-repeat="intag_l in left.intags track by $index" class="intag-list grid-block small-up-3">
                                    <span class="grid-content small-8">{{intag_l.name}}</span>
                                    <span class="grid-content small-4 text-right">
                                        <span ng-if="intag_l.is_many" ng-repeat="val in intag_l.value track by $index">
                                            {{val}}<br/>
                                        </span>
                                        <span ng-if="!intag_l.is_many">
                                            {{intag_l.value}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="grid-content" ng-repeat="right in product.intags_rightColumn track by $index">
                                <h5>{{right.name}}</h5>

                                <div ng-repeat="intag_r in right.intags track by $index" class="intag-list grid-block small-up-3">
                                    <span class="grid-content small-8">{{intag_r.name}}</span>
                                    <span class="grid-content small-4 text-right">
                                        <span ng-if="intag_r.is_many" ng-repeat="val in intag_r.value track by $index">
                                            {{val}}<br/>
                                        </span>
                                        <span ng-if="!intag_r.is_many">
                                            {{intag_r.value}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
