<!doctype html>
<html lang="en" ng-app="application">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>beeline.ecommerce</title>

        <!-- Foundation CSS -->
        <link href="./assets/css/app.css" rel="stylesheet" type="text/css">

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="./assets/lib/swiper/dist/css/swiper.min.css" charset="utf-8">

        <script src="./assets/js/foundation.js"></script>
        <script src="./assets/js/templates.js"></script>
        <script src="./assets/js/routes.js"></script>
        <script src="./assets/js/app.js"></script>

        <!-- Swiper.js -->
        <script src="./assets/lib/swiper/dist/js/swiper.min.js" charset="utf-8"></script>

        <!-- Angular WebSocket -->
        <script src="./assets/lib/angular-websocket/angular-websocket.min.js" charset="utf-8"></script>

        <!-- Masonry.js -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js"></script>
        <script src="//desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script> -->

        <script src="./assets/lib/masonry/masonry.pkgd.js" charset="utf-8"></script>
        <script src="./assets/lib/masonry/imagesloaded.pkgd.js" charset="utf-8"></script>
        <script src="./assets/lib/masonry/angular-masonry-directive.js" charset="utf-8"></script>
    </head>
    <body>

        <div class="spinner" ng-show="spinnerShow">
            <img src="./assets/img/spinner.svg"/>
        </div>

        <div class="grid-frame vertical">
            <div class="menu-group" ng-controller="MenuGroupCtrl">
                <div class="menu-group-left">
                    <ul class="menu-bar">
                        <li ng-repeat="category in menuData track by category.order" ng-click="openSection(category)">
                            <a ui-sref="categories({id: category.id})">{{category.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-group-right">
                    <ul class="icon-right menu-bar">
                        <li><a ui-sref="basket.list"><img zf-iconic="" icon="Cart" size="small" class="iconic-color-primary">Корзина</a></li>
                    </ul>
                </div>
            </div>


            <div class="grid-block">
                <div class="grid-block small-up-1 history-block" style="transform: scale(-1, 1);"  ng-click="statesNavigation.lastState()" ng-show="navBack">
                    <img zf-iconic="" icon="Chevron" size="medium" class="history-icon">
                </div>
                <div class="grid-block">
                    <div ui-view class="grid-content"></div>
                </div>
                <div class="grid-block small-up-1 history-block" ng-click="statesNavigation.forwardState()" ng-show="navForw">
                    <img zf-iconic="" icon="Chevron" size="medium" class="history-icon">
                </div>
            </div>
        </div>
    </body>
</html>
