---
name: category
url: /category
animationIn: fadeIn
---

<div class="grid-container" ng-controller="CategoryMainCtrl">
    <div class="grid-block small-up-3 align-center">
        <div class="align-center padding" ng-repeat="content in sections.slice().reverse()"  ng-click="openProductList(content)" ng-if="$index <= 2" >
            <div class="card padding" style="min-width: 100%; max-width: 98%;">
                <img ng-src="{{content.image}}">
                <div class="card-section text-center">
                    <h4>{{content.name}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-block small-up-4 align-center">
        <div class="align-center padding" ng-repeat="content in sections.slice().reverse()" ng-click="openProductList(content)" ng-if="$index > 2">
            <div class="card padding" style="height: 300px; text-align: center;">
                <img class="swiper-img" ng-src="{{content.image}}">
                <div class="card-section text-center">
                    <h4>{{content.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
