---
name: detail
url: /detail
animationIn: fadeIn
---

<zf-notification-set id="main-notifications" position="top-right"></zf-notification-set>

<div class="grid-container" ng-controller="DetailCtrl">
    <h2>{{detailProduct.name}}</h2>
    <div class="">
        <div class="">
            <div class="grid-block ">
                <div class="small-8 grid-content">
                    <div class="card card-section">
                    <div class="swiper-container padding">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="img in detailProduct.images" style="text-align: center;">
                                <img class="swiper-img" ng-src="{{img}}" draggable="false">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div ng-if="product.images.length != 1" class="swiper-pagination swiper-pagination-black"></div>
                        <!-- Add Arrows -->
                        <div ng-if="product.images.length != 1" class="swiper-button-next swiper-button-black"></div>
                        <div ng-if="product.images.length != 1" class="swiper-button-prev swiper-button-black"></div>
                    </div>

                    <!-- Initialize Swiper -->
                    <swiper></swiper>
                    </div>
                </div>

                <div class="small-4 grid-content">
                    <div class="card card-section">
                    <a href="" style="text-decoration:underline;color:#555;">Все устройства</a>
                    <br>
                    <br>
                    <!-- <div style="border: 2px dashed #999; padding: 15px;">
                        <h5>Рекомендации</h5>
                        <ul style="list-style-type: none;">
                            <li ng-repeat="recommend in detailProduct.recommendations">{{recommend}}</li>
                        </ul>
                    </div> -->
                    Цена:
                    <h5 style="text-decoration:line-through;color:#555;font-weight:bold;">{{detailProduct.price + 1000}}</h5>
                    <h3><b>{{detailProduct.price}}</b></h3>


                    <span>{{'На складе: ' + detailProduct.remain}}</span>
                    <br>
                    <br>
                    <br>
                    <a href="#" title="Помощь консультанта" content="Пояснение по необходимости" color="success" autoclose="5000" zf-notify="main-notifications" class="expand success hollow button" style="color: #000; font-size: 18px; background: linear-gradient(180deg, #ffe100 0%, #f7a700 100%); border: 2px solid #f1a011; border-radius: 25px;">Вызвать консультанта</a>
                    </div>
                </div>
            </div>

            <div class="grid-block">
                <div class="grid-content">
                    <h3>Описание:</h3>
                    {{detailProduct.description || 'Описание тут.....'}}
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="grid-block">
                <div class="grid-content">
                    <h3>Характеристики:</h3>
                    <zf-accordion multi-open="true">
                        <zf-accordion-item title="{{intag.name}}" ng-repeat="intag in detailProduct.intags_categories">
                            <ul>
                                <li ng-repeat="value in intag.intags" style="list-style-type: none;">
                                    {{value.name}}: {{value.value[0] || 'нет данных'}}
                                </li>
                            </ul>
                        </zf-accordion-item>
                    </zf-accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-block vertical">
        <div class="grid-content">
            <br>
            <br>
            <h3>Лидеры</h3>
            <div class="align-center card">
                <div class="card-section">
                    <div class="grid-block small-up-5 align-center">
                        <div class="grid-content" ng-click="openDetail(leader)" ng-repeat="leader in leaders" style="height: 150px; text-align: center; margin-bottom: 30px;">
                            <img class="swiper-img" ng-src="{{leader.images[0]}}" alt="" />
                            <br/>
                            <br/>
                            <span>{{leader.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="grid-content">
            <br>
            <br>
            <h3>Ранее просматривали</h3>
            <div class="align-center card">
                <div class="card-section">
                    <div class="grid-block small-up-5 align-center">
                        <div class="grid-content" ng-click="openDetail(last)" ng-repeat="last in lastProducts" style="height: 150px; text-align: center; margin-bottom: 30px;">
                            <img class="swiper-img" ng-src="{{last.images[0]}}" alt="" />
                            <br/>
                            <br/>
                            <span>{{last.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>
